<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Password Retrieval</title>
     <style>
        body, .mytable {background-color: rgb(245, 245, 245);font-family: 'HelveticaNeue-Regular', 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;line-height: 20px;padding-bottom: 20px;}
        h2 {color: rgb(28, 125, 185);font-weight: normal;}
        table {width: 100%;}.small {font-size: 11px;font-weight: bold;color: gray;}
        .medium {font-size: 14px;text-align: left;}.table-heading {background-color: rgb(28, 125, 185);padding: 10px 20px;color: white;font-size: 24px;text-align: center;}
        a {text-decoration: none;}
    </style>
</head>

    
    <body style="background-color: rgb(245, 245, 245);">
   
        <table width="100%" class="mytable" >
            <tr>
                <td colspan="3"><br/></td>
            </tr>
            <tr>
                <td width="30%"></td>
                <td width="40%" style="background-color: white; border:1px solid #d0d0d0;padding: 20px;margin: 20px;" align="center">
                    <table width="100%">
                        <tr>
                            <td width="20%"><img  src="http://jobs.schoolgap.com/content/images/logo.png" width="158" height="58"></td>
                            <td width="80%" align="right"><span class="small">{USERNAME}, Reset Password Request.</span></td>
                        </tr>
                    
                        <tr>
                            <td colspan="2" style="padding-top:5px;padding-bottom:5px"><table class="table-heading"><tr><td>Information to reset your password</td></tr></table> </td>
                        </tr>
                    
                        <tr>
                            <td colspan="2">
                                <div class="medium">
                                    Dear {USERNAME}, 
                                    <br />
                                    <br />
                                    Thank you for contacting us. Click the button below to reset your password. This link is valid for ONE TIME USE ONLY and will EXPIRE in 48 HOURS.<br />
                                    <br />
                                </div>
                            </td>
                        </tr>
                    
                        <tr>
                            <td colspan="2" >
                                <table>
                                    <tr>
                                        <td width="30%"></td>
                                        <td width="40%" style="color: #ffffff;border-bottom: 3px solid #008a32;background-color: rgb(28, 125, 185);text-align: center;padding: 10px"><a href="{RESET_LINK}" style="color: white;text-decoration: none;"  >Reset Your Password</a> </td>
                                        <td width="30%"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2">
                                <div class="medium">
                                    <p>&nbsp;</p>
                                    <p>To reset your password:<br />
                    1.	Enter your username.<br/>
                    2.	Enter your new password.<br />
                    3.	Click "Reset".</p>
                <p>Still having trouble? Contact your system administrator for further support.</p>
                <p>Sincerely,<br />
                    SchoolGap Jobs</p>
                                </div>
                            </td>
                        </tr>


                    </table>

                </td>
                <td width="30%"></td>
            </tr> 
            <tr>
                <td colspan="3"><br/></td>
            </tr>
            <tr>
                <td colspan="3"><br/></td>
            </tr>
            <tr>
                <td colspan="3"><br/></td>
            </tr>
        </table>
    
  
    
    </body>

</html>
