@model dynamic

@{
    ViewBag.Title = "Confirmation | Jobs";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<header class="page-header">
    <h1 class="page-title">Thank you for registering</h1>
</header>

<div id="primary" class="">
    <div id="content" class="container" role="main">
        <article  class="page hentry">
            <div class="entry-content">
                <div class="job-manager-form">
                    <div class="field account-sign-in">
                        <p style="font-size: 15px;color: black;margin: 0 auto;">Thank you for registering. Please check your email for a confirmation request with a link that will confirm your account. Once you click the link, your registration will be complete.</p>
                    </div>
                </div>
                
            </div>
        </article>
    </div>
</div>
